
*{
    margin: 0px;
}


.random-click{
    cursor: pointer;
    color: black;
    font-weight: 30px;
    border-radius: 15px;
    display: block;
    padding: 10px 20px;
    text-align: center;
    border: none;
}


.backgound{
    background: rgb(72, 129, 177);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.random-click:focus{
    outline: none;
}
